<header>
    <div class="card-header bg-white" style="text-align: center;">
        <div class="row bg-white">
            <div class="col-sm-3">
                <img alt="Cuiabá" 
                     src="assets/images/logo_cuiaba.png" 
                     style="padding-top: 22px;">
            </div>

            <div class="col" style="padding-top: 25px;">
                   <h2 class="card-subtitle mb-1">Secretaria Municipal de Saúde</h2>
                   <h3 class="card-subtitle mb-1">Diretoria de Atenção Primária</h3>
                   <h4 class="card-subtitle mb-1">Política Municipal da Saúde do Homem</h4>			   		
               </div>
               
            <div class="col-sm-3">
                 <img alt="Saúde do Homem" 
                      src="assets/images/logo_saudedohomem.png" 
                      style="padding-top: 0px;">
            </div>		       	
        </div>
    </div>
    
    <div style="padding-top: 15px;">
        <span class="d-block p-2">
            <label>Bem vindo(a), {{usuarioConectado}}</label>
        </span>
    </div>
</header>