<div>
    <strong><span>Já teve problemas respiratórios?</span></strong>				  		
</div>
<div>
    <input type="radio" 
           id="opcaoProblemasRespiratoriosSim"
           name="opcaoProblemasRespiratorios" 
           [value]="true" 
           [(ngModel)]="teveProblemasRespiratorios" >
    <span>Sim</span>

    <input type="radio" 
           id="opcaoProblemasRespiratoriosNao"
           name="opcaoProblemasRespiratorios" 
           [value]="false" 
           [(ngModel)]="teveProblemasRespiratorios" >
    <span>Não</span>
</div>