<div>
    <strong><span>Já teve problemas gástricos?</span></strong>				  		
</div>
<div>
    <input type="radio" 
           id="opcaoProblemasGastricosSim"
           name="opcaoProblemasGastricos"
           [value]="true" 
           [(ngModel)]="teveProblemasGastricos" >
    <span>Sim</span>

    <input type="radio" 
           id="opcaoProblemasGastricosNao"
           name="opcaoProblemasGastricos" 
           [value]="false" 
           [(ngModel)]="teveProblemasGastricos" >
    <span>Não</span>
</div>