<div>
    <strong><span>Já consultou um urologista?</span></strong>				  		
</div>
<div>
    <input type="radio" 
           id="opcaoConsultouUrologistaSim" 
           name="opcaoConsultouUrologistaSim"
           [value]="true" 
           [(ngModel)]="consultouUrologista" >
    <span>Sim</span>

    <input type="radio" 
           id="opcaoConsultouUrologistaNao" 
           name="opcaoConsultouUrologistaNao"
           [value]="false" 
           [(ngModel)]="consultouUrologista" >
    <span>Não</span>
</div>