<div>
    <strong><span>Você sabia que o homem também pode realizar consultas de Pré-Natal?</span></strong>				  		
</div>
<div>
    <input type="radio" 
           id="opcaoHomemPreNatalSim"
           name="opcaoHomemPreNatal" 
           [value]="true"
           [(ngModel)]="sabiaHomemPodeRealizarConsultaPreNatal" >
    <span>Sim</span>

    <input type="radio" 
           id="opcaoHomemPreNatalNao" 
           name="opcaoHomemPreNatal" 
           [value]="false" 
           [(ngModel)]="sabiaHomemPodeRealizarConsultaPreNatal" >
    <span>Não</span>
</div>